{% extends 'header.html' %}
{% block content %}
     <div class="text-center">
          <br>
          <br>
          <br>
          <br>

          <h1 class="heading"><B>Wel-Come To My Society</B></h1>
               <h2><b>view society member</b></h2>
               <h2><b>see upcoming events</b></h2>
               <h2><b> create own event</b></h2>
               <h2><b>make components</b></h2>
               <h2><b>see notice</b></h2>
               <h2><b>view visitors</b></h2>
               {% comment %} <h1><b>FIND RIDE BOOK RIDE</b></h1> {% endcomment %}
     </div>
     </body>
     </html> 
{% endblock %}